<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastReport.Compat" version="2024.2.15" targetFramework="net472" />
  <package id="FastReport.Data.MsSql" version="2022.2.0" targetFramework="net472" />
  <package id="FastReport.DataVisualization" version="2024.2.15" targetFramework="net472" />
  <package id="FastReport.Net" version="2024.2.15" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="RestSharp" version="112.1.0" targetFramework="net472" />
  <package id="Serilog" version="4.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.4" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.4" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.4" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.4" targetFramework="net472" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.10" targetFramework="net472" />
</packages>