USE [EINVOICE]
GO
/****** Object:  StoredProcedure [dbo].[SBO_SP_SIMPLIFIEDTAXINVOICE]    Script Date: 5/14/2024 2:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SBO_SP_SIMPLIFIEDTAXINVOICE]
(
	@object_type nvarchar(40), 				-- SBO Object Type
	@transaction_type nchar(1),			-- [A]dd, [U]pdate, [D]elete, [C]ancel, C[L]ose
	@num_of_cols_in_key int,
	@list_of_key_cols_tab_del nvarchar(255),
	@list_of_cols_val_tab_del nvarchar(255),
	@error int output,                             --Result (0 for no error)
	@error_message nvarchar (200) output
)

AS
begin

--declare @error  int				-- Result (0 for no error)
--declare @error_message nvarchar (200) 		-- Error string to be displayed
declare @Cnt int
select @error = 0
select  @error_message = N'Ok'
--------------------------------------------------------------------------------------------------------------------------------



--========================================================================================
---(13) AR Invoice
--========================================================================================


--========================================================================================
--**************************************VALIDATIONS***************************************
--========================================================================================


--========================================================================================
set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OADM T0
where (T0."CompnyName" IS NULL or len(T0."CompnyName") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Name is mandatory';
      	End;
End;  
-- draft

set  @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') 
begin
select @Cnt = Count(*) 
from OADM T0
where (T0."CompnyName" IS NULL or len(T0."CompnyName") = 0) 
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14');
 		if @Cnt >0  
		begin
        set @error = -111;
           set @error_message = 'Seller Name is mandatory';
      	End;
End;  

--========================================================================================

set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."Street" IS NULL or len(T0."Street") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Street is mandatory';
      	End;
End;  
---draft

set @Cnt = 0;
if (@object_type = '112' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."Street" IS NULL or len(T0."Street") = 0)
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14') ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Street is mandatory';
      	End;
End;  

--========================================================================================


set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."Building" IS NULL or len(T0."Building") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Building is mandatory';
      	End;
End;  
---draft
set @Cnt = 0;
if (@object_type = '112' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."Building" IS NULL or len(T0."Building") = 0)
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14') ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Building is mandatory';
      	End;
End;  


--========================================================================================

set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."State" IS NULL or len(T0."State") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller State is mandatory';
      	End;
End;  
-- draft
set @Cnt = 0;
if (@object_type = '112' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."State" IS NULL or len(T0."State") = 0) 
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14');
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller State is mandatory';
      	End;
End;  

--========================================================================================

set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OADM T0

where (T0."Country" IS NULL or len(T0."Country") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Country is mandatory';
      	End;
End;  
---draft
set @Cnt = 0;
if (@object_type = '112' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OADM T0

where (T0."Country" IS NULL or len(T0."Country") = 0) 
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14');
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Country is mandatory';
      	End;
End; 
--========================================================================================

set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."City" IS NULL or len(T0."City") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller City is mandatory';
      	End;
End;  
---draft
set @Cnt = 0;
if (@object_type = '112' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."City" IS NULL or len(T0."City") = 0) 
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14');
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller City is mandatory';
      	End;
End;  
--========================================================================================

set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."ZipCode" IS NULL or len(T0."ZipCode") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Postal Code is mandatory';
      	End;
End;  
--- draft 
set @Cnt = 0;
if (@object_type = '112' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ADM1 T0

where (T0."ZipCode" IS NULL or len(T0."ZipCode") = 0)
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14') ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller Postal Code is mandatory';
      	End;
End;  

--========================================================================================


set @Cnt = 0;
if (@object_type = '13' OR @object_type = '14' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OADM T0

where (T0."TaxIdNum" IS NULL or len(T0."TaxIdNum") = 0) AND (T0."TaxIdNum2" IS NULL or len(T0."TaxIdNum2") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller VAT/Group VAT Reg. No. is mandatory';
      	End;
End;  
-- draft 
set @Cnt = 0;
if (@object_type = '112' ) and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OADM T0

where (T0."TaxIdNum" IS NULL or len(T0."TaxIdNum") = 0) AND (T0."TaxIdNum2" IS NULL or len(T0."TaxIdNum2") = 0) 
and (select "ObjType" from ODRF where "DocEntry" =  @list_of_cols_val_tab_del ) in ('13','14') ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Seller VAT/Group VAT Reg. No. is mandatory';
      	End;
End;  


--========================================================================================


set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OINV T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and 
(
(T0."U_EIN_SBA" IS NULL or len(T0."U_EIN_SBA") = 0) 
OR
T0."U_EIN_SBA" not in ('NA','Third Party')

)


;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Valid Special Billing Agreement Type';
      	End;
End;  


set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ORIN T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and 
(
(T0."U_EIN_SBA" IS NULL or len(T0."U_EIN_SBA") = 0) 
OR
T0."U_EIN_SBA" not in ('NA','Third Party')

)
;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Special Billing Agreement Type';
      	End;
End; 

----draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ODRF T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and 
(
(T0."U_EIN_SBA" IS NULL or len(T0."U_EIN_SBA") = 0) 
OR
T0."U_EIN_SBA" not in ('NA','Third Party')

)
and "ObjType"  in ('13','14')
;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Special Billing Agreement Type';
      	End;
End; 


---------------------------------------------------------------------------------------
set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OINV T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and 
(
(T0."U_EIN_STP" IS NULL or len(T0."U_EIN_STP") = 0) 
OR
T0."U_EIN_STP" not in ('NA','Nominal Supply','Summary')
)
;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Valid Special Transaction Type';
      	End;
End;  


set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ORIN T0

where T0."DocEntry" =  @list_of_cols_val_tab_del 
and 
(
(T0."U_EIN_STP" IS NULL or len(T0."U_EIN_STP") = 0) 
OR
T0."U_EIN_STP" not in ('NA','Nominal Supply','Summary')
) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Valid Special Transaction Type';
      	End;
End; 

----darft

set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ODRF T0

where T0."DocEntry" =  @list_of_cols_val_tab_del 
and 
(
(T0."U_EIN_STP" IS NULL or len(T0."U_EIN_STP") = 0) 
OR
T0."U_EIN_STP" not in ('NA','Nominal Supply','Summary')
and "ObjType"  in ('13','14')
) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Valid Special Transaction Type';
      	End;
End; 
---------------------------------------------------------------------------------
/*
set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from OINV T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and (T0."CardName" IS NULL or len(T0."CardName") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Customer/Buyer Name is mandatory';
      	End;
End;  


set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ORIN T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and (T0."CardName" IS NULL or len(T0."CardName") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Customer/Buyer Name is mandatory';
      	End;
End; 

--------------------------------------------------------------

set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
left outer join "OCRD" T1 on T0."CardCode" = T1."CardCode"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."LicTradNum" IS NULL or len(T1."LicTradNum") = 0 ) 
and (T1."VatIdUnCmp" IS NULL or len(T1."VatIdUnCmp") = 0 ) 
and T0."U_EIN_STP" <> 'Export';

 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Buyer/Customer VAT/Group VAT Reg No is mandatory';
      	End;
End; 


set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ORIN" T0
left outer join "OCRD" T1 on T0."CardCode" = T1."CardCode"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."LicTradNum" IS NULL or len(T1."LicTradNum") = 0 )
and (T1."VatIdUnCmp" IS NULL or len(T1."VatIdUnCmp") = 0 )
and T0."U_EIN_STP" <> 'Export' ;

 		if @Cnt >0  begin
        set @error = -111;
       set @error_message = 'Buyer/Customer VAT/Group VAT Reg No is mandatory';
      	End;
End; 

*/

---------------------------------------------------------------------
set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
left outer join "INV1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."Price" IS NULL 
or len(T1."Price") = 0
or T1."Price" <= 0
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Unit Price must be Greater than 0';
      	End;
End;



set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ORIN" T0
left outer join "RIN1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."Price" IS NULL 
or len(T1."Price") = 0
or T1."Price" <= 0
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Unit Price must be Greater than 0';
      	End;
End;
----draft

set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ODRF" T0
left outer join "DRF1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."Price" IS NULL 
or len(T1."Price") = 0
or T1."Price" <= 0
and T0."ObjType"  in ('13','14')
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Unit Price must be Greater than 0';
      	End;
End;

-----------------------------------------------------------------------------------------

set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
left outer join "INV1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."Quantity" IS NULL 
or len(T1."Quantity") = 0
or T1."Quantity" <= 0
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Qty must be Greater than 0';
      	End;
End;


set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ORIN" T0
left outer join "RIN1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."Quantity" IS NULL 
or len(T1."Quantity") = 0
or T1."Quantity" <= 0
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Qty must be Greater than 0';
      	End;
End;
---draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ODRF" T0
left outer join "DRF1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T1."Quantity" IS NULL 
or len(T1."Quantity") = 0
or T1."Quantity" <= 0
and T0."ObjType"  in ('13','14')
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Qty must be Greater than 0';
      	End;
End;

-----------------------------------------------------------------------------------------

--------------------------------------------------------------
/*set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ORIN T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and (T0."U_NType" IS NULL or len(T0."U_NType") = 0) ;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Note Type';
      	End;
End; 
---draft

set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ODRF T0

where T0."DocEntry" =  @list_of_cols_val_tab_del  
and (T0."U_NType" IS NULL or len(T0."U_NType") = 0) 
and "ObjType"  in ('13','14')
;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Please choose Note Type';
      	End;
End; 



*/
-----------------------------------------------------------------------------------------
/*
set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T0."QRCodeSrc" IS NULL 
or len(T0."QRCodeSrc") = 0

) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'QR Code is mandatory';
      	End;
End;

set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ORIN" T0
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T0."QRCodeSrc" IS NULL 
or len(T0."QRCodeSrc") = 0

) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'QR Code is mandatory';
      	End;
End;

*/
------------------------------------------------------------------------------------------
set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ORIN T0
left join RIN1 T1 on T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del  
and T1."BaseType" <> '13'
;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Should have one based Document AR Invoice';
      	End;
End; 

---draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from ODRF T0
left join DRF1 T1 on T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del  
and T1."BaseType" <> '13'
and T0."ObjType" = '14'
;
 		if @Cnt >0  begin
        set @error = -111;
           set @error_message = 'Should have one based Document AR Invoice';
      	End;
End; 

-------------------------------------------------------------if D note selected in AR Invoice
set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
left outer join "INV21" T1 ON T0."DocEntry" = T1."DocEntry" and T1."RefObjType" = '13'
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T1."RefDocNum" is null
and T0."U_EIN_DNOT" = 'Debit Note'
;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'No Referenced Document selected';
      	End;
End;
-------------draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ODRF" T0
left outer join "DRF21" T1 ON T0."DocEntry" = T1."DocEntry" and T1."RefObjType" = '13'
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T1."RefDocNum" is null
and T0."U_EIN_DNOT" = 'Debit Note'
and T0."ObjType" = '13'
;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'No Referenced Document selected';
      	End;
End;
------------------------------
set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
left outer join "INV21" T1 ON T0."DocEntry" = T1."DocEntry" and T1."RefObjType" = '13'
left outer join "OINV" T2 on T2."DocEntry" = T1."RefDocEntr"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_DNOT" = 'Debit Note' 
and T0."CardCode" <> T2."CardCode"
;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Customer is not same as Referenced Document';
      	End;
End;
---draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ODRF" T0
left outer join "DRF21" T1 ON T0."DocEntry" = T1."DocEntry" and T1."RefObjType" = '13'
left outer join "OINV" T2 on T2."DocEntry" = T1."RefDocEntr"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_DNOT" = 'Debit Note' 
and T0."CardCode" <> T2."CardCode"
and T0."ObjType" = '13'
;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Customer is not same as Referenced Document';
      	End;
End;

---------------------------------------------------------


-- Select the return values
select error, error_message FROM dummy;

end;