USE [EINVOICE]
GO
/****** Object:  StoredProcedure [dbo].[SBO_SP_TransactionNotification]    Script Date: 5/14/2024 2:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[SBO_SP_TransactionNotification] 

@object_type nvarchar(30), 				-- SBO Object Type
@transaction_type nchar(1),			-- [A]dd, [U]pdate, [D]elete, [C]ancel, C[L]ose
@num_of_cols_in_key int,
@list_of_key_cols_tab_del nvarchar(255),
@list_of_cols_val_tab_del nvarchar(255)

AS

begin

-- Return values
declare @error  int				-- Result (0 for no error)
declare @error_message nvarchar (200) 		-- Error string to be displayed
select @error = 0
select @error_message = N'Ok'

--------------------------------------------------------------------------------------------------------------------------------

--	ADD	YOUR	CODE	HERE

--------------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------EINVOICE

if (@object_type='13' or @object_type='14'or @object_type='112') and @error = 0
begin


 exec "SBO_SP_EINVOICE"

	@object_type,
	@transaction_type,
	@num_of_cols_in_key,
	@list_of_key_cols_tab_del,
	@list_of_cols_val_tab_del,
	@error,
	@error_message
;


end;


-- Select the return values
select @error, @error_message

end