USE [EINVOICE]
GO
/****** Object:  StoredProcedure [dbo].[SBO_SP_EINVOICE]    Script Date: 5/14/2024 2:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SBO_SP_EINVOICE]
(
	 @object_type nvarchar(30), 				-- SBO Object Type
@transaction_type nchar(1),			-- [A]dd, [U]pdate, [D]elete, [C]ancel, C[L]ose
@num_of_cols_in_key int,
@list_of_key_cols_tab_del nvarchar(255),
@list_of_cols_val_tab_del nvarchar(255),
	@error int output,                             --Result (0 for no error)
	@error_message nvarchar (200) output

)

AS
begin

--declare @error  int				-- Result (0 for no error)
--declare @error_message nvarchar (200) 		-- Error string to be displayed
declare @Cnt int
select @error = 0
select @error_message = N'Ok'


--------------------------------------------------------------------------------------------------------------------------------



--========================================================================================
---(13) AR Invoice
--========================================================================================


--========================================================================================
--**************************************VALIDATIONS***************************************
--========================================================================================


--========================================================================================




set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T0."U_EIN_TYPE" IS NULL 
or len(T0."U_EIN_TYPE") = 0
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Invoice type is mandatory';
      	End;
End;  

set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ORIN" T0
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T0."U_EIN_TYPE" IS NULL 
or len(T0."U_EIN_TYPE") = 0
) ;
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Invoice type is mandatory';
      	End;
End;  

--draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ODRF" T0
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and (T0."U_EIN_TYPE" IS NULL 
or len(T0."U_EIN_TYPE") = 0
) 
and T0."ObjType" in ('13','14');
 		if @Cnt >0  begin
        set @error = -111;
        set @error_message = 'Invoice type is mandatory';
      	End;
End;  





----------------------TAX Invoice


set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
left outer join "INV1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_TYPE" = 'Tax Invoice' ;

 		if @Cnt >0  begin
        exec "SBO_SP_TAXINVOICE"

	@object_type,
	@transaction_type,
	@num_of_cols_in_key,
	@list_of_key_cols_tab_del,
	@list_of_cols_val_tab_del,
	@error,
	@error_message
;
        
      	End;
End;
--draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ODRF" T0
left outer join "DRF1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_TYPE" = 'Tax Invoice' 
and T0."ObjType" in ('13','14');

 		if @Cnt >0  begin
        exec "SBO_SP_TAXINVOICE"

	@object_type,
	@transaction_type,
	@num_of_cols_in_key,
	@list_of_key_cols_tab_del,
	@list_of_cols_val_tab_del,
	@error,
	@error_message
;
        
      	End;
End;

-------------------------------------Tax Invoice Note

set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ORIN" T0
left outer join "RIN1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_TYPE" = 'Tax Invoice' ;

 		if @Cnt >0  begin
        exec "SBO_SP_TAXINVOICE"

	@object_type,
	@transaction_type,
	@num_of_cols_in_key,
	@list_of_key_cols_tab_del,
	@list_of_cols_val_tab_del,
	@error,
	@error_message
;
        
      	End;
End;


----------------------Simplified Invoice


set @Cnt = 0;
if (@object_type = '13') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "OINV" T0
left outer join "INV1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_TYPE" = 'Simplified Invoice' ;

 		if @Cnt >0  begin
        exec "SBO_SP_SIMPLIFIEDTAXINVOICE"

	@object_type,
	@transaction_type,
	@num_of_cols_in_key,
	@list_of_key_cols_tab_del,
	@list_of_cols_val_tab_del,
	@error,
	@error_message
;
        
      	End;
End;
--draft
set @Cnt = 0;
if (@object_type = '112') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ODRF" T0
left outer join "DRF1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_TYPE" = 'Simplified Invoice' 
and T0."ObjType" in ('13','14');

 		if @Cnt >0  begin
        exec "SBO_SP_SIMPLIFIEDTAXINVOICE"

	@object_type,
	@transaction_type,
	@num_of_cols_in_key,
	@list_of_key_cols_tab_del,
	@list_of_cols_val_tab_del,
	@error,
	@error_message
;
        
      	End;
End;

-------------------------------------Simplified Invoice Note

set @Cnt = 0;
if (@object_type = '14') and (@transaction_type='A' OR @transaction_type='U') begin
select @Cnt = Count(*) 
from "ORIN" T0
left outer join "RIN1" T1 ON T0."DocEntry" = T1."DocEntry"
where T0."DocEntry" =  @list_of_cols_val_tab_del 
and T0."U_EIN_TYPE" = 'Simplified Invoice' ;

 		if @Cnt >0  begin
        exec "SBO_SP_SIMPLIFIEDTAXINVOICE"

	@object_type,
	@transaction_type,
	@num_of_cols_in_key,
	@list_of_key_cols_tab_del,
	@list_of_cols_val_tab_del,
	@error,
	@error_message
;
        
      	End;
End;

------------------------------------------------------------------------------------------
-- Select the return values
select @error, @error_message 

end;